@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/typography" as *;

.class-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.class-header {
    margin-top: -4rem;
    
    &__image {
      width: 100vw;
      &--svg {
        width: 100%;
      }
    }
  }