@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/typography" as *;

.footer {
  background-color: $Aspire-Blue;
  color: #fff;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.social-icons {
  font-size: 24px;
  padding: 1rem 0;

  a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;

    &:hover {
      color: #f0f0f0;
    }
  }
}

.gym-info {
  text-align: center;

  h3 {
    @include desktop-header-bold;
    color: $Aspire-White;
    font-size: 1.5rem;
  }

  p {
    @include desktop-body;
    line-height: 1.5rem;
    color: $Aspire-White;
  }
}
