@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/typography" as *;

.home-content {
  display: flex;

  &__1 {
    background-color: $Aspire-Grey;
    width: 50%;
    padding: 2rem 1rem;
  }

  &__2 {
    background-color: $Aspire-Red;
    width: 50%;
    padding: 2rem 1rem;
  }

  &__title {
    padding-bottom: 2rem;
  }
}
