@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/typography" as *;

.gallery {
  background-color: #fafafa;

  &__photos {
    display: flex;
    flex-wrap: wrap;

    @include media-tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 25%;

    @include media-tablet {
      width: 25%;
      padding: 1vw;
    }

    &--middle {
      width: 50%;
    }
  }
}
