@use "../../styles/variables" as *;
@use "../../styles/breakpoints" as *;
@use "../../styles/typography" as *;

.header {
  margin-top: -4rem;

  &__image {
    width: 100vw;
    max-height: 500px;
    overflow: hidden;

    &--svg {
      width: 100%;
    }
  }
}
